[Desktop Entry]
Type=Application
Name=waller
Exec=/home/yasu/.dotfiles/yasu/.config/yasu/theme/waller.sh
Icon=preferences-desktop-theme
Categories=Utility;
Terminal=false

