[Unit]
Description=sxhkd to bind keys to actions
After=graphical-session.target

[Service]
ExecStart=%h/.config/yasu/service.sxhkd
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=default.target
